/* ALL */
:root {
 --text-color: #ffc107;
 --bg-image: url(./images/bg-image_.jpg);
 --text-bg: #ffc107b4;
 --signup-pic: '../static/images/draw1.webp';
 --star-size: 1.75rem;
 --star-bg: #fc0;
 --star-color: #fff;
}
::-webkit-scrollbar{
    width: 5px;
    background-color: #3b3939;
}
::-webkit-scrollbar-thumb{
    background-color: var(--text-color);
}
::-webkit-scrollbar-thumb:hover{
    background-color: #ffc107b4;
}
body{
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    position: absolute;
}
.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    
    display: inline-block;
    font-size: var(--star-size);
    /* font-family: Times;  */
    line-height: 1;
    
    &::before {
      content: '★★★★★';
      letter-spacing: 3px;
      background: linear-gradient(90deg, var(--star-bg) var(--percent), var(--star-color) var(--percent));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
h1{
    font-size:5rem;
}
h2{
    font-size: xx-large;
}
.nav-link{
    margin-left: 2.125rem;
}
.nav-link:hover{
    color: var(--text-color);
    font-weight: bolder;
}
footer{
    text-align: center;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}
footer a{
    margin-right: 1.875rem;
    text-decoration: none;
}
footer a:hover{
    font-weight: bolder;
}
footer p{
    font-family: 'Baskerville', serif;
}
/* INDEX PAGE */
.welcome
{
    /* background-color: aliceblue; */
    background-image: var(--bg-image);
    
    background-size:cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
    padding-top: 200px;
    /* padding: 6.25rem; */
    text-align: center;
}
.welcome h1{
    text-shadow: 1px 0 0 var(--text-color), 0 -1px 0 var(--text-color) 0 1px 0 var(--text-color), -1px 0 0 var(--text-color);
}
.welcome h2{
    text-shadow: 1px 0 0 var(--text-color), 0 -1px 0 var(--text-color) 0 1px 0 var(--text-color), -1px 0 0 var(--text-color);
}
.author{
    font-family: 'Baskerville', serif;
}
#search{
    width: 50%;
    height: 3.125rem;
    border-radius: 1.25rem;
    text-align: center;
    text-transform: full-width;
    font-size: 1.5625rem;
    font-family: 'Josefin Sans', sans-serif;
}
form{
    display: flex;
    flex-direction: row;
    display: inline;
}
.search-icon{
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    top: 0.625rem;
    right: 3.125rem;
}
.search-bar{
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}
.trendBookTitle{
    max-width: 40%;
    text-decoration: none !important;
}
.trendBookTitle h2:hover{
    font-weight: bolder;
}
.trending {
    position: relative;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bookHolder h1{
    font-family: 70px;
    text-shadow: 1px 0 0 var(--text-color), 0 -1px 0 var(--text-color) 0 1px 0 var(--text-color), -1px 0 0 var(--text-color);
}
.trending .bookHolder{
    margin-top: 6.25rem;
    padding-left: 6.25rem;
}

.trending .book{
    display: none;
}

.trending .first_book{
    display: block;
}

.prev, .next {
    max-height: 60px;
    cursor: pointer;
    width: auto;
    position: relative;
    top: 100px;
    padding: 1rem;
    height: auto;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.125rem;
    transition: 0.6s ease;
    border-radius: 0 0.1875rem 0.1875rem 0;
    user-select: none;
    z-index: 2;
}

.next {
    right: 0;
    border-radius: 0.1875rem 0 0 0.1875rem;
}
.prev{
    left: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.fadeX {
    animation-name: fadeX;
    animation-duration: 1.5s;
}

@keyframes fadeX {
    from {opacity: .4}
    to {opacity: 1}
}

/* SEARCH PAGE */

.searchTitle{
    padding: 2.5rem 1.25rem 1.25rem 6.25rem;
    margin: 0;
    font-family: 'Baskerville', serif;
    text-decoration: underline 0.0625rem;

}
.bookImg{
    border: 0.3125rem solid gray;
    background-color: #000;
    color: gray;
    text-align: center;
    min-height: 100%;
    max-width: 50%;
}
.bookImg:hover{
    animation-name: fadeY;
    animation-duration: 0.3s;
    opacity: 0.7; padding: 0.5%; 
}
@keyframes fadeY {
    from {opacity: 1; padding:2%}
    to {opacity: 0.7; padding:0.5%}
}
.bookTitle{
    text-decoration: none !important;
}
.bookTitle h3:hover, .bookTitle h5:hover{
    font-weight: bolder;    
}
.bookThumbnail{
  height: 100%;
  width: 100%;
    margin-right: 20%;
    background-color: #000;
    color: gray;
    border: 0.3125rem solid gray;
    z-index: 1;
}
.bookThumbnail:hover{
    animation-name: fadeY;
    animation-duration: 0.3s;
    opacity: 0.7; scale: 1.1 
}
.bookLinks:hover,  .bi-google-play:hover{
    transform: scale(1.4);
}

/* SIGNUP PAGE */

.signupForm{
    align-items: center;
    padding: 100px;
}

/* BOOK PAGE */

.bookLinks img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition: transform .2s;
}

/* MEDIA QUERIES */

@media (max-width:847px){
    h1{
        font-size: 4rem;
    }

}
@media (max-width:600px){
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 25px;
    }
    #search{
        width: 100%;
        height: 2.5rem;
        border-radius: 1rem;
        font-size: 1rem;
    }
    .search-icon{
        width: 1rem;
        height: 1rem;
        top: -2rem;
        right: -48%;
    }
    .bookHolder h1{
        font-family: 30px;
    }

    .trending .first_book {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .trendBookTitle{
        text-align: center;
        align-items: center;
    }

    .bookImg{
        margin: 0;
    }

    .book{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .bookHolder {
        padding-left: 10px;
        align-items: center;
    }

    .bookTitle{
        max-width: 20rem;
    }
}
@media (max-width:350px){
    .searchTitle{
        font-size: 16px;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 24px;
    }
    .next {
        top: 110px;
    }
    .prev{
        top: 110px;
    }
}